.footer-inner{
  padding-top: 107px;
}

.footer-nav{
  margin-top: 39px;
}

.footer-list{
  list-style-type: none;
}

.list-item + .list-item{
  margin-left: 32px;
}

.footer-email-input{
  width: 300px;
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  margin-right: 16px;
  margin-bottom: 20px;
}

.footer-button{
  padding: 12px 28px;
  border-radius: 30px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border: 1px solid transparent;
}

.footer-button:hover{
  transition: all 0.5s ease;
  background-color: #fff;
  border: 1px solid #f00;
  color: #ff0000;
}

.footer-span{
  margin-right: 370px;
}
.line{
  margin-top: 75px;
  margin-bottom: 32px;
  border-bottom: 2px solid #fff;
}

.links-btn{
  color: #fff;
}

.links-btn + .links-btn{
  margin-left: 24px;
}

.footer-links{
  text-decoration: none;
  color: #fff;
}

.footer-links:hover{
  transition: all 0.5s ease;
  opacity: 0.3;
}