.trial{
  background-color: #6B50FF;
  padding-bottom: 112px;
}

.trial-title-1{
  padding-top: 112px;
  padding-bottom: 24px;
}

.trial-text-1{
  padding-bottom: 44px;
}

.user-email{
  padding-left: 300px;
}

.email-input{
  width: 365px;
  padding: 12px 28px;
  margin-left: 450px;
  border-radius: 30px;
  border: none;
  margin-right: 16px;
  margin-bottom: 20px;
}

.trial-button{
  padding: 12px 28px;
  border-radius: 30px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border: 1px solid transparent;
}

.trial-button:hover{
  transition: all 0.5s ease;
  background-color: #fff;
  color: #ff0000;
  border: 1px solid #ff0000;
}

.trial-text-2{
  color: #fff;
}

.trial-btn{
  color: #fff;
}